# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/settings.json
.idea/

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Docker
.dockerignore

# Temporary files
/tmp/

# OS
.DS_Store
Thumbs.db